fastapi
uvicorn
python-dotenv
pypdf
python-multipart
sentence-transformers
langchain
langchain-community
langchain-classic
langchain-openai
langchain-text-splitters
llama-parse
pinecone
langchain-pinecone
tavily-python
boto3
